@import url('https://fonts.googleapis.com/css?family=Nunito:300|Open+Sans:400,700');

html {
  font-family: sans-serif;
  line-height: 1.15;
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Nunito";
}

p {
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
  font-size: 1.6rem;
}

.content-wrapper, .right-side {
  min-height: 100%;
  background-color: #FFFFFF;
  z-index: 800;
}

.main-header .logo {
  font-size: 3.4rem;
  font-family: "Nunito";
}
